<div class="showtext">
  <h1>Ta page utilisateur rien qu'à toi </h1>
  <div class = center>
  <br/>
  <p>Ton nom d'utilisateur est : <strong><%= @user.username %></strong></p><br>
  <p>L'email renseigné est : <strong><%= @user.email %></strong></p>
  <br/><br/>
  <p id = 'sijamais'>
    Si jamais tu viens de te rendre compte que ton blaze est tout pourri ou que ton email est digne d'un enfant de 5 ans, il te suffit de cliquer sur 'Editer' dans le menu déroulant de ton compte...
  </p>
  </div>
</div>
