// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.xavier{
  display: inline-block;
  width: 200px;
  position: absolute;
  right: 0;
  margin-right: 300px;
}

.answer {
  display: inline-block;
  position: absolute;
  left: 0;
  h1 {
    font-size: 550px;
    margin-left: 20px;
  }
}

.imgxavier {
  width: 400px;
  height: 360px;
  margin-top: 60px;
}
